<script type="text/javascript">
	console.log("dostuff is working");
	var songs = [];
	//keeps track of whether or not the main list of songs has been loaded
	var main_loaded = false;
	var client_id = ""
	//the path
	var path = "{{abs_url|escapejs}}"
	//get a kerb so a client_id can be generated
	var kerb = window.prompt("What's your kerberos?","kerb");
	const client_url= path + "api/register_client/" + kerb + "/";
	$.get(client_url, function(data){
		console.log("asdf");
		console.log(data);
	  	client_id = data;
	});

	//get the initial list of songs
	loadVideos(() => {});

	songs = [
		{
			"track":{
			"track_id":"LzdHoFObxrg",
			"name":"The Deadener",
			"video_url":"https://www.youtube.com/watch?v=LzdHoFObxrg",
			"thumbnail_url": "https://i.ytimg.com/vi/LzdHoFObxrg/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBXnr0IyyCYREWzl4uRW_pOJD8nBg",
			"rating": 5
			},
			"client": {
				"client_id": "asdfa4543",
				"kerberos": "ctraweek"
			},
			
		},
		{
			"track":{
			"track_id":"LzdHoFObxrg",
			"name":"Second Sun",
			"video_url":"https://www.youtube.com/watch?v=LzdHoFObxrg",
			"thumbnail_url": "https://i.ytimg.com/vi/LzdHoFObxrg/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBXnr0IyyCYREWzl4uRW_pOJD8nBg",
			"rating": 5
			},
			"client": {
				"client_id": "ajhsdfa4543",
				"kerberos": "georg"
			},
			
		},
		{
			"track":{
			"track_id":"LzdHoFObxrg",
			"name":"Never Gonna Give You Up",
			"video_url":"https://www.youtube.com/watch?v=LzdHoFObxrg",
			"thumbnail_url": "https://i.ytimg.com/vi/LzdHoFObxrg/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBXnr0IyyCYREWzl4uRW_pOJD8nBg",
			"rating": 5
			},
			"client": {
				"client_id": "afdaf4",
				"kerberos": "beans"
			},
			
		}
	] 

	$(document).on('click','.upvote',function(){
    	var this_vid_id =  $(this).attr('id');
    	var upvote_url = "api/upvote/" + client_id + "/" + this_vid_id + "/";
    	console.log(upvote_url)
    	let Http3 = new XMLHttpRequest();
    	Http3.open("GET", upvote_url);
		Http3.send();
		loadVideos(() => {});
	});
	$(document).on('click','.downvote',function(){
    	console.log("downvote")
    	var this_vid_id =  $(this).attr('id');
    	var downvote_url = "api/downvote/" + client_id + "/" + this_vid_id + "/";
    	console.log(downvote_url)
    	let Http3 = new XMLHttpRequest();
    	Http3.open("GET", downvote_url);
		Http3.send();
		loadVideos(() => {});
	});
	$("#song-submit").click(
		function() {
			let Http2 = new XMLHttpRequest();
			//parse the track id from whats in the input box
			console.log($("#song-url").val())
			var track_id = $("#song-url").val();
			if(track_id.includes("youtu")){
				track_id = track_id.split("/").pop();
			}
			if(track_id.includes("v=")){
				track_id = track_id.split("=").pop();
			}
			//check for validity
			if(track_id != ""){
				const client_url= path + "api/insert/" + client_id + "/" + track_id + "/";
				Http2.open("GET", client_url);
				Http2.send();
			} else {
				window.alert("not a valid youtube URL, try again");
			}
			loadVideos(() => {});
		}
	);
	$("#refresh").click(function () {
		loadVideos(() => {});
	});

	function loadVideos(callback) {
		var loadUrl = "/api/get_all";
		$.get(loadUrl, function(data, status) {
			songs = data;
			updatePlaylist(songs);
			callback();
		});
	}

	function updatePlaylist(playlist) {
		$("#songs").empty();
		console.log(songs);
		for(var i = 0; i < songs.length; i++) {
			var rating = songs[i].rating
			var track = songs[i].track;
			$("#songs").append("<div class=\"list-group-item\" style=\"border:1px solid black;overflow: auto;\"style=\"border:1px solid black;\"><div class=col-sm-3><img src=\""+ songs[i].track.thumbnail_url+ "\"></div><span id = " + songs[i].track.track_id +" class=\"upvote glyphicon glyphicon-arrow-up\"></span><span id=" + songs[i].track.track_id + " class=\"downvote glyphicon glyphicon-arrow-down\"></span><div class=\"song-rating col-sm-1\">" + rating + "</div><div class = \"song-name col-sm-7\">" + songs[i].track.name + "");
		}
	}
</script>